body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
